<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button *ngIf="reference" defaultHref="./grounds/{{ground.id}}"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ground.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background">

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ng-container *ngIf="ground.type == 'module'">
        <ion-segment *ngIf="ground.number_furrow > 0 && ground.number_terrace > 0" value="" (ionChange)="segmentChanged($event)">
            <ion-segment-button class="segfondo" value="">
                <ion-icon name="grid-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button class="segfondo" value="terrace">
                <ion-label>Bancales</ion-label>
            </ion-segment-button>
            <ion-segment-button class="segfondo" value="furrow">
                <ion-label>Surco</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ng-container>



    <!-- 
        <ion-item *ngFor="let bed of beds " routerLink="/plants/{{bed.id}} ">
            <ion-label></ion-label>
        </ion-item>
    -->
    <ion-list class="invisiblefondo" lines="true">
        <app-bed-item class="animate__animated animate__fadeIn animate__faster" (ordenActualizar)="actualizar($event)" [bed]="bed" *ngFor="let bed of beds | filtro:type:'type'"></app-bed-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ng-container *ngIf="ground.type == 'module'">
                <ion-fab-button (click)="registrarBed('surco')">
                    <ion-icon src="/assets/icon/surco.svg"></ion-icon>
                </ion-fab-button>
                <ion-fab-button (click)="registrarBed('bancal')">
                    <ion-icon src="/assets/icon/bancal.svg"></ion-icon>
                </ion-fab-button>
            </ng-container>
            <ng-container *ngIf="ground.type == 'seedbed'">
                <ion-fab-button (click)="registrarBed('bandeja')">
                    <ion-icon src="/assets/icon/bandejas.svg"></ion-icon>
                </ion-fab-button>
            </ng-container>
        </ion-fab-list>
    </ion-fab>

    <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>