<ion-header>
    <ion-toolbar>
        <ion-title>beds</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-segment>
        <ion-segment-button value="friends ">
            <ion-label>Bancales</ion-label>
        </ion-segment-button>
        <ion-segment-button value="enemies ">
            <ion-label>Surco</ion-label>
        </ion-segment-button>
    </ion-segment>

    <!-- 
        <ion-item *ngFor="let bed of beds" routerLink="/plants/{{bed.id}}">
            <ion-label></ion-label>
        </ion-item>
    -->
    <ion-list>
        <app-bed-item [id]="bed.id" [name]="bed.name" *ngFor="let bed of beds" routerLink="/plants/{{bed.id}}"></app-bed-item>
    </ion-list>
</ion-content>