<ion-header>
    <ion-toolbar>
        <ion-title>Semillas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="maxh">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="seeds">
        <ion-list>
            <ion-item routerLink="crops/{{seed.id}}" *ngFor="let seed of seeds">
                <ion-avatar slot="start">
                    <img [src]="seed.image">
                </ion-avatar>
                <ion-label>{{seed.name}}</ion-label>
            </ion-item>
        </ion-list>


    </div>





    <ion-fab (click)="registrarSeed()" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>