<ion-header>
    <ion-toolbar>
        <ion-title>Nueva Cosecha</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="" (click)="cancelar()"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">

            <ion-item>
                <ion-label position="floating">Peso de Cosecha (libras)</ion-label>
                <ion-input type="number" required name="quantity" [(ngModel)]="crop.quantity"></ion-input>
            </ion-item>


            <br>

            <div class="text-center">
                <ion-button [disabled]="formulario.invalid" type="submit">
                    Cosechar
                </ion-button>
                <ion-button (click)="cancelar()" color="danger">
                    Cancelar
                </ion-button>
            </div>



        </form>
    </ion-card>
</ion-content>