<ion-item-sliding>

    <ion-item routerLink="./plants/{{bed.id}}">

        <ion-card class="ioncardground">

            <ion-item>
                <ion-avatar class="ionavatarsquare" slot="start">
                    <ion-img *ngIf="bed.type == 'furrow'" src="/assets/icon/surco.svg"></ion-img>
                    <ion-img *ngIf="bed.type == 'terrace'" src="/assets/icon/bancal.svg"></ion-img>
                    <ion-img *ngIf="bed.type == 'bed'" src="/assets/icon/bandejas.svg"></ion-img>
                </ion-avatar>
                <ion-label>{{bed.name}}</ion-label>
            </ion-item>
            <ion-item *ngIf="bed.type == 'furrow' || bed.type == 'terrace'">
                <ion-label>Ancho: {{bed.x}}</ion-label>
                <ion-label>Largo: {{bed.y}}</ion-label>
            </ion-item>
            <ion-item *ngIf="bed.type == 'bed'">
                <ion-label>Numero de huecos: {{bed.x * bed.y}}</ion-label>
            </ion-item>
            <ion-card-content class="ioncardcontent">
                <ion-item>
                    <ion-card class="ioncardground" *ngIf="plants.length > 0">

                        <!-- <ion-item  class="ioncardcontent space">
                            <ion-avatar class="animate__animated animate__fadeIn animate__faster" slot="start">
                                
                            </ion-avatar>
                        </ion-item> -->
                        <!-- <div class="container">
                            <div class="row">
                                <div  class="col">
                                </div>
                            </div> -->

                        <div class="d-flex align-content-start flex-wrap">
                            <img *ngFor="let plant of plants" class="imagen rounded-circle animate__animated animate__fadeIn animate__faster" src="/assets/imgwireframe/image.png">
                        </div>

                    </ion-card>

                </ion-item>
            </ion-card-content>
        </ion-card>
    </ion-item>

    <ion-item-options side="end">
        <ion-item-option (click)="limpiarBed()" *ngIf="plants.length > 0" color="danger">
            <ion-icon src="./assets/icon/shovel.svg" slot="icon-only">
            </ion-icon>
        </ion-item-option>
    </ion-item-options>

</ion-item-sliding>