<ion-item-sliding>

    <ion-item routerLink="./plants/{{bed.id}}">

        <ion-card class="ioncardground">

            <ion-item>
                <ion-avatar class="ionavatarsquare" slot="start">
                    <ion-img *ngIf="bed.type == 'furrow'" src="/assets/icon/surco.svg"></ion-img>
                    <ion-img *ngIf="bed.type == 'terrace'" src="/assets/icon/bancal.svg"></ion-img>
                    <ion-img *ngIf="bed.type == 'bed'" src="/assets/icon/bandejas.svg"></ion-img>
                </ion-avatar>
                <ion-label>{{bed.name}}</ion-label>
            </ion-item>

            <ion-card-content class="ioncardcontent">
                <ion-item>
                    <ion-card class="ioncardground" *ngIf="plants.length > 0">

                        <ion-item class="ioncardcontent">
                            <ion-avatar class="animate__animated animate__fadeIn animate__faster" *ngFor="let plant of plants" slot="start">
                                <ion-img src="/assets/imgwireframe/image.png"></ion-img>
                            </ion-avatar>
                        </ion-item>
                    </ion-card>

                </ion-item>
            </ion-card-content>
        </ion-card>
    </ion-item>

    <ion-item-options side="end">
        <ion-item-option (click)="limpiarBed()" *ngIf="plants.length > 0" color="danger">
            <ion-icon src="./assets/icon/shovel.svg" slot="icon-only">
            </ion-icon>
        </ion-item-option>
    </ion-item-options>

</ion-item-sliding>