.space {
    min-height: 100px;
    overflow: hidden;
}

.imagen {
    width: 50px !important;
    height: 50px !important;
    min-height: 50px !important;
    min-width: 50px !important;
    padding: 5px !important;
    border-radius: 50% !important;
}