<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Información</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="background">

    <ng-container *ngIf="plant">
        <ion-item class="transp">
            <ion-card class="ioncardground">
                <div class="objetfit">
                    <img [src]="plant.image" />
                </div>

                <ion-card-content>
                    <ion-row class="margindata">
                        <ion-col>Nombre</ion-col>
                        <ion-col>{{plant.name}}</ion-col>
                    </ion-row>
                    <ion-row class="margindata">
                        <ion-col>Cantidad</ion-col>
                        <ion-col>{{plant.quantity}}</ion-col>
                    </ion-row>
                    <ion-row class="margindata">
                        <ion-col>Huerto</ion-col>
                        <ion-col>{{plant.garden_name}}</ion-col>
                    </ion-row>
                    <ion-row class="margindata">
                        <ion-col>Zona</ion-col>
                        <ion-col>{{plant.ground_name}}</ion-col>
                    </ion-row>
                    <ion-row class="margindata">
                        <ion-col>Cama</ion-col>
                        <ion-col>{{plant.bed_name}}</ion-col>
                    </ion-row>
                    <ion-row class="margindata">
                        <ion-col>Fecha de Plantación</ion-col>
                        <ion-col>{{plant.created_at}}</ion-col>
                    </ion-row>
                </ion-card-content>

                <ion-card>
                    <ion-segment (ionChange)="segmentChanged($event)" scrollable=" true " value="">

                        <ion-segment-button value="">
                            <ion-icon name="grid-outline"></ion-icon>
                        </ion-segment-button>
                        <ion-segment-button value="water">
                            <ion-icon src="./assets/icon/regadera.svg"></ion-icon>
                        </ion-segment-button>
                        <ion-segment-button value="manure">
                            <ion-icon src="./assets/icon/fertilizer.svg"></ion-icon>
                        </ion-segment-button>
                        <ion-segment-button value="plague">
                            <ion-icon src="./assets/icon/plagas.svg"></ion-icon>
                        </ion-segment-button>
                        <ion-segment-button value="prune">
                            <ion-icon src="./assets/icon/tijeras-de-podar.svg"></ion-icon>
                        </ion-segment-button>
                        <ion-segment-button *ngIf="plant.bed_type != 'bed'" value="crop">
                            <ion-icon src="./assets/icon/verduras.svg"></ion-icon>
                        </ion-segment-button>
                        <ion-segment-button value="eye">
                            <ion-icon src="./assets/icon/lista-de-verificacion.svg"></ion-icon>
                        </ion-segment-button>


                    </ion-segment>

                    <div class="maxim" (scroll)="onCareScroll($event)">

                        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
                            <ion-refresher-content></ion-refresher-content>
                        </ion-refresher>

                        <!-- <div class="timeline" (ionInfinite)="loadData($event)">
                            <div *ngFor="let care of cares | filtro:typeCare:'type' " class="container right ">
                                <div class="content">
                                    <span><h3 class="nomargin">{{care.type | careTraduc: plant.bed_type }}</h3> {{care.created_at}}</span>
                                    <p>{{care.description}}</p>
                                </div>
                            </div>
                        </div> -->

                        <!-- <ion-list>
                            <ion-item *ngFor="let care of cares | filtro:typeCare:'type'">
                                <ion-label>{{care.description}}</ion-label>
                            </ion-item>
                        </ion-list> -->


                        <ion-list>
                            <ion-item-sliding class="animate__animated animate__fadeIn animate__faster" *ngFor="let care of cares | filtro:typeCare:'type'">

                                <ion-item>
                                    <ion-avatar slot="start">
                                        <img [src]="care.type|careIcon: plant.bed_type">
                                    </ion-avatar>
                                    <ion-label>
                                        <h2>{{care.type | careTraduc: plant.bed_type }}</h2>
                                        <h3>{{care.created_at}}</h3>
                                        <p>{{care.description}}</p>
                                    </ion-label>
                                </ion-item>

                                <ion-item-options *ngIf="care.type != 'planted'" side="start">
                                    <ion-item-option (click)="deleteCare(care)" color="light">
                                        <ion-icon src="./assets/icon/eliminar.svg" slot="icon-only" name="trash-outline"></ion-icon>
                                    </ion-item-option>
                                    <ion-item-option *ngIf="care.type != 'crop'" (click)="updateCare(care)" color="light">
                                        <ion-icon src="./assets/icon/editar.svg" slot="icon-only"></ion-icon>
                                    </ion-item-option>
                                </ion-item-options>

                            </ion-item-sliding>

                        </ion-list>

                    </div>



                </ion-card>
            </ion-card>
        </ion-item>



        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button color="light">
                <ion-icon src="./assets/icon/caja-de-herramientas.svg"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="top">
                <ion-fab-button *ngIf="plant.bed_type != 'bed'" (click)="registrarCrop()" color="light">
                    <ion-icon src="./assets/icon/verduras.svg"></ion-icon>
                </ion-fab-button>
                <ion-fab-button (click)="registrarCare()" color="light">
                    <ion-icon src="./assets/icon/lapiz.svg"></ion-icon>
                </ion-fab-button>

            </ion-fab-list>
        </ion-fab>
    </ng-container>



</ion-content>