<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab 2
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <!--</ion-item> *ngFor="let garden of gardens" routerLink="/grounds/{{garden.id}}" -->
        <ion-item *ngFor="let garden of gardens" routerLink="/grounds/{{garden.name}}/{{garden.id}}">
            <!--<ion-label></ion-label>-->
            <ion-card>
                <ion-card-header>
                    <ion-img class="ionimghuerto" src="/assets/imgwireframe/image.png"></ion-img>
                    <ion-card-subtitle>Huerto</ion-card-subtitle>
                    <ion-item>
                        <ion-card-title>{{garden.name}}</ion-card-title>
                        <ion-icon name="ellipsis-vertical-outline" slot="end"></ion-icon>
                    </ion-item>
                </ion-card-header>
            </ion-card>

        </ion-item>

    </ion-list>

</ion-content>