    .margindata {
        margin-bottom: 25px;
        border-bottom: 2px solid black;
    }
    
    .selectorplant {
        border-radius: 25px !important;
    }
    
    .noticia-more {
        font-size: 25px !important;
        position: absolute;
        right: -10px;
        top: -18px;
    }
    
    .imgcomplete {
        height: 200px;
    }