<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="bed">{{bed.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background">

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!--
        <ion-card *ngIf="plants.length > 1" class="selectorplant">
        <ion-segment class="selectorplant" scrollable="true" value="" (ionChange)="segmentChanged($event)">
            <div *ngFor="let plant of plants; let i = index">
                <ion-segment-button [ngClass]="{'segment-button-checked' : i == 0}" [value]="plant.name">
                    <ion-icon name="grid-outline"></ion-icon>
                </ion-segment-button>
            </div>

        </ion-segment>
    </ion-card>
    -->



    <!--
        <app-plant-item [id]="plant.id " *ngFor="let plant of plants | filtro:name: 'name' "></app-plant-item>
    -->
    <ion-list class="p-3 invisiblefondo" lines="true">

        <ion-item-sliding class="animate__animated animate__fadeIn animate__faster" *ngFor="let plant of plants">

            <ion-item routerLink="./plant/{{plant.id}}">
                <ion-avatar slot="start">
                    <img [src]="plant.image">
                </ion-avatar>
                <ion-label>
                    <h3>{{plant.name}}</h3>
                    <p>Cantidad:{{plant.quantity}}</p>
                </ion-label>
                <ion-label slot="end" class="ion-text-end text-small">{{plant.status | titlecase}}</ion-label>
            </ion-item>

            <ion-item-options side="start">
                <ion-item-option (click)="desplantar(plant.bed,plant.seed,plant)" color="light">
                    <ion-icon src="./assets/icon/escoba_color.svg" slot="icon-only" name="trash-outline"></ion-icon>
                </ion-item-option>
                <ion-item-option (click)="transplantar(plant)" color="light">
                    <ion-icon src="./assets/icon/transplante.svg" slot="icon-only"></ion-icon>
                </ion-item-option>
            </ion-item-options>

        </ion-item-sliding>

    </ion-list>

    <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>


    <ion-fab (click)="registrarPlant()" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <!-- <ion-grid fixed>
        <ion-row>
            <ion-col size="12 " size-lg="3 " size-md="4 " size-sm="6 " size-xs="6 " *ngFor="let plant of plants; let i=i ndex ">
                <ion-card routerLink="./plant/{{plant.id}} ">
                    <ion-item>
                        <ion-button fill="clear " slot="end ">
                            <ion-icon slot="icon-only " name="ellipsis-vertical-outline "></ion-icon>
                        </ion-button>
                    </ion-item>

                    <ion-img class="animated fadeIn fast imgcomplete " src="/assets/imgwireframe/image1.png "></ion-img>

                    <ion-card-content>
                        <ion-card-title>{{plant.name}}</ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid> -->



    <!--
       <ion-item>
            <ion-label>{{plant.name}}</ion-label>
        </ion-item>
   -->

</ion-content>