.divmoon {
    display: table;
    margin: 20px auto;
    text-align: center;
    color: black;
    border: 1px solid black;
    padding: 5px 30px;
}

.divmoon [shadow] {
    filter: drop-shadow(0 0 25px rgb(0, 50, 50));
    padding: 15px 0;
}

.divtitlephases {
    text-align: center !important;
    font-size: 18px;
}

.divphases {
    width: 100%;
    margin: 20px auto;
    color: white;
    background-color: black;
    text-align: center;
}

.divphases>b {
    display: block;
    font-size: 12px;
}

.divphases>div {
    display: inline-block;
    vertical-align: top;
}

.divphases>div>div {
    border: 1px solid rgba(255, 255, 255, .5);
    margin: 1%;
    padding: 1%;
}

.divphases>div>div>span {
    position: absolute;
    font-size: 32px;
    color: rgba(255, 255, 255, .5);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.divphases>div>div>div {
    font-size: 16px;
    text-align: center;
    overflow-x: hidden;
}

.divphases>div>div>svg {
    width: 95%;
    display: block;
    margin: 10px auto 0 auto;
}

.rowcenter {
    justify-content: center;
}

.titlecenter {
    text-align: center;
}

.noclick {
    pointer-events: none;
}