<ion-content class="contentpadding">

    <div id="ex1"></div>

    <div class="divmoon">
        <div>
            <b>
                {{nameDay}}
            </b>
            <div>
                {{day}}
                <b>
                    {{monthName}}
                </b> {{moonYear}}
            </div>
            <div shadow>
                {{moonImage}}
            </div>
            <div>
                {{phaseName }}
            </div>
        </div>
    </div>

    <div id="ex2"></div>
</ion-content>