<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="bed.type != 'bed'">A Plantar</ion-title>
        <ion-title *ngIf="bed.type == 'bed'">A Germinar</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="" (click)="cancelar()"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">

            <div class="objetfit ">
                <img class="animate__animated animate__fadeIn animate__faster" *ngIf="image" [src]="image" />
            </div>

            <ion-item>
                <ion-label>Awesome Label</ion-label>
                <ion-searchbar required name="seed" [value]="name" [(ngModel)]="name" (ionChange)="searchSeeds($event)" (ionFocus)="limpiar($event)" placeholder="Buscar Semilla"></ion-searchbar>
            </ion-item>

            <ion-list *ngIf="this.seeds.length > 0 && !this.seleccionado" class="maxh">
                <ion-item *ngFor="let s of seeds" (click)="medClicked($event, s)">
                    {{ s.name }}
                </ion-item>
            </ion-list>

            <ion-item>
                <ion-label *ngIf="bed.type != 'bed'" ng position="floating">Cantidad a Plantar:</ion-label>
                <ion-label *ngIf="bed.type == 'bed'" ng position="floating">Cantidad a Germinar:</ion-label>
                <ion-input type="number" required name="quantity" [(ngModel)]="plant.quantity"></ion-input>


            </ion-item>

            <br>

            <ion-button [disabled]="formulario.invalid &&  !nameValid" type="submit">
                Registrar
            </ion-button>
            <ion-button (click)="cancelar()" color="danger">
                Cancelar
            </ion-button>


        </form>
    </ion-card>
</ion-content>