<ion-header>
    <ion-toolbar>
        <ion-title>Añadir a Bitácora</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="" (click)="cancelar()"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="background">
    <ion-card>
        <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">

            <br>

            <div *ngIf="care.type" class="text-center">
                <img class="imagen" [src]="care.type|careIcon: plant.bed_type">
            </div>

            <ion-item>
                <ion-label position="floating">Tipo</ion-label>
                <ion-select [(ngModel)]="care.type" name="type" placeholder="Seleccione el tipo ">
                    <ion-select-option value="eye">Anotación</ion-select-option>
                    <ion-select-option value="water">Riego</ion-select-option>
                    <ion-select-option value="manure">Abono</ion-select-option>
                    <ion-select-option value="plague">Control de Plagas</ion-select-option>
                    <ion-select-option value="prune">Poda</ion-select-option>

                </ion-select>
            </ion-item>

            <br>

            <ion-item>
                <ion-label position="stacked">Descripción</ion-label>
                <ion-textarea class="area" name="description" maxlength="500" autoGrow="true" [(ngModel)]="care.description" required placeholder="Introduzca descripción">

                </ion-textarea>
            </ion-item>

            <br>

            <ion-row>
                <ion-col size="6">
                    <ion-button [disabled]="formulario.invalid" expand="block" shape="round" type="submit" color="success" size="large">
                        <ion-icon name="checkmark-outline"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button (click)="cancelar()" color="danger" expand="block" shape="round" size="large">
                        <ion-icon name="close-outline"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>


        </form>
    </ion-card>
</ion-content>