<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="garden">{{garden.name}}</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="background">

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-segment *ngIf="grounds.length>0" value="" (ionChange)="segmentChanged($event)">
        <ion-segment-button class="segfondo" value="">
            <ion-icon name="grid-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button class="segfondo" value="seedbed">
            <ion-label>Semilleros</ion-label>
        </ion-segment-button>
        <ion-segment-button class="segfondo" value="module">
            <ion-label>Módulos</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ion-list class="invisiblefondo">
        <!-- <ion-item ">
            <ion-label></ion-label>
        </ion-item>  -->

        <!-- 
           
       -->

        <ion-item class="transp animate__animated animate__fadeIn animate__faster" *ngFor="let ground of grounds  | filtro:type:'type'">
            <ion-card class="ioncardground">

                <ion-item>
                    <ion-avatar routerLink="./beds/{{ground.id}}" slot="start">
                        <img *ngIf="ground.type == 'module'" src="/assets/icon/modulo.svg">
                        <img *ngIf="ground.type == 'seedbed'" src="/assets/icon/semillero.svg">
                    </ion-avatar>
                    <ion-label routerLink="./beds/{{ground.id}}"> {{ground.name}}</ion-label>
                    <ion-button (click)="presentActionSheet(ground)" slot="end" fill="clear">
                        <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
                    </ion-button>
                </ion-item>

                <ion-card-content class="ioncardcontent">
                    <div class="d-flex align-content-start flex-wrap">
                        <ion-card *ngIf="ground.number_bed != 0">
                            <ion-item>
                                <ion-avatar slot="start">
                                    <ion-img src="/assets/icon/bandejas.svg"></ion-img>
                                </ion-avatar>
                                <ion-label>{{ground.number_bed}}</ion-label>
                            </ion-item>
                        </ion-card>
                        <ion-card *ngIf="ground.number_furrow != 0">
                            <ion-item>
                                <ion-avatar slot="start">
                                    <ion-img src="/assets/icon/surco.svg"></ion-img>
                                </ion-avatar>
                                <ion-label>{{ground.number_furrow}}</ion-label>
                            </ion-item>
                        </ion-card>
                        <ion-card *ngIf="ground.number_terrace != 0">
                            <ion-item>
                                <ion-avatar slot="start">
                                    <ion-img src="/assets/icon/bancal.svg"></ion-img>
                                </ion-avatar>
                                <ion-label>{{ground.number_terrace}}</ion-label>
                            </ion-item>
                        </ion-card>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>


    <ion-fab (click)="registrarGround()" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>



</ion-content>